/* Material Icons */
.material-icons {
  font-family: 'MaterialIcons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* FontAwesome 5 */
.fa,
.fas,
.far,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa,
.fas {
  font-family: 'FontAwesome5_Solid';
  font-weight: 900;
}

.far {
  font-family: 'FontAwesome5_Regular';
  font-weight: 400;
}

.fab {
  font-family: 'FontAwesome5_Brands';
  font-weight: 400;
}
